* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: $color01;

    a,
    button {
        border: none;
        outline: none;
        cursor: pointer;
        transition: background ease-in-out 300ms;
    }
}