#home {
    display: flex;
    padding: 10px;
    color: $color02;

    .container-da-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .texto-home {
            text-align: center;
            min-width: 275px;
            max-width: 50%;
            padding: 0px 8%;

            h1 {
                font-size: 5rem;
                margin-bottom: 10%;
            }

            p {
                font-size: 2.5rem;
                margin-bottom: 20%;
            }
        }

        button {
            font-size: 2.5rem;
            min-height: 60px;
            min-width: 275px;
            border-radius: 40px;
            background: $color05;

            &:hover {
                background: lighten($color05, $amount: 10);
            }
        }
    }

    picture {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #home {
        flex-direction: column;

        .container-da-home {
            button {
                margin-bottom: 100px;
            }
        }
    }
}