@mixin telas($display) {
    display: $display;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.565);
    z-index: 2;
}

#tela-de-adicionar {
    @include telas(none);

    #form-de-adicionar {
        height: 80%;
        width: 60%;
        background: $color03;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;

        h1 {
            background-color: $color04;
            margin: 20px auto;
            text-align: center;
            width: 60%;
            line-height: 10vh;
            border-radius: 20px;
            font-size: 2rem;
            font-weight: normal;
        }

        label {
            padding-left: 10%;
            margin-top: 2%;
            align-self: flex-start;
            font-size: 1.5rem;
        }

        #nome-da-tarefa,
        #tarefa {
            width: 80%;
            border-radius: 30px;
            outline: none;
            border: none;
            margin: 5px 0px;
            padding: 0px 20px;
            font-size: 1.5rem;
        }

        #nome-da-tarefa {
            height: 7%;
            background: $color04;
        }

        #tarefa {
            resize: none;
            padding: 20px;
            height: 20%;
        }

        #data {
            height: 7%;
            width: 25%;
            background: $color04;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 20px;
            font-size: 1.5rem;
            align-self: flex-start;
            margin: 5px 0px 0px 10%;
        }

        #adicionar-de-adicionar {
            background: $color07;
            height: 8%;
            width: 20%;
            margin: auto;
            border-radius: 30px;
            font-size: 1.5rem;

            &:hover {
                background: lighten($color07, $amount: 10);
            }
        }
    }
}

.botoes {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
}

#tela-de-editar {
    @include telas(none);

    #form-de-editar {
        height: 80%;
        width: 60%;
        background: $color03;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;

        .texto-de-editar {
            display: flex;
            font-size: 1.5rem;
            height: 15%;
            align-items: center;
        }

        label {
            padding-left: 10%;
            margin-top: 2%;
            align-self: flex-start;
            font-size: 1.5rem;
        }

        #nome-da-tarefa-editar,
        #tarefa-editar {
            width: 80%;
            border-radius: 30px;
            outline: none;
            border: none;
            margin: 5px 0px;
            padding: 0px 20px;
            font-size: 1.5rem;
        }

        #nome-da-tarefa-editar {
            height: 7%;
            background: $color04;
        }

        #tarefa-editar {
            resize: none;
            padding: 20px;
            height: 120px;
        }

        #data-editar {
            height: 7%;
            width: 25%;
            background: $color04;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 20px;
            font-size: 1.5rem;
            align-self: flex-start;
            margin: 5px 0px 0px 10%;
        }

        #cancelar-de-editar,
        #salvar-de-editar {
            height: 5vh;
            width: 35%;
            border-radius: 30px;
            font-size: 1.5rem;
        }

        #cancelar-de-editar {
            background: $color04;

            &:hover {
                background: lighten($color04, $amount: 5);
            }
        }

        #salvar-de-editar {
            background: $color07;

            &:hover {
                background: lighten($color07, $amount: 10);
            }
        }
    }
}

#tela-de-excluir {
    @include telas(none);

    #container-de-excluir {
        width: 30%;
        height: 20%;
        background: $color03;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;

        .texto-de-excluir {
            font-size: 1.5rem;
            text-align: center;

            #atividade {
                font-weight: bolder;
            }
        }

        #cancelar-de-excluir,
        #excluir-de-excluir {
            height: 5vh;
            width: 30%;
            font-size: 1.5rem;
        }

        #cancelar-de-excluir {
            background: $color04;

            &:hover {
                background: lighten($color04, $amount: 5);
            }
        }

        #excluir-de-excluir {
            background: $color08;

            &:hover {
                background: lighten($color08, $amount: 10);
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    #tela-de-adicionar {
        #form-de-adicionar {
            width: 80%;
            height: 80%;

            #data {
                width: 40%;
            }

            #adicionar-de-adicionar {
                width: 40%;
            }
        }
    }

    #tela-de-editar {
        #form-de-editar {
            width: 80%;
            height: 80%;

            #data-editar {
                width: 40%;
            }
        }
    }

    #tela-de-excluir {
        #container-de-excluir {
            width: 80%;
            height: 20%;
        }
    }
}