@charset "UTF-8";
/*Variáveis*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rufina", serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background: #373030;
}
body a,
body button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container-de-texto-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  width: 40vw;
  text-align: center;
  padding: 5px;
  color: #E7E7E7;
}
.container-de-texto-home .texto-home {
  height: 100%;
  min-width: 275px;
  max-width: 295px;
}
.container-de-texto-home .texto-home h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}
.container-de-texto-home .texto-home p {
  font-size: 1.5rem;
}
.container-de-texto-home button {
  font-size: 1.5rem;
  height: 80px;
  min-width: 275px;
  width: 20vw;
  border-radius: 40px;
  background: #F2C46D;
}
.container-de-texto-home button:hover {
  background: #f6d79c;
}

picture {
  width: 60vw;
  text-align: center;
}

#tela-de-adicionar {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.565);
  z-index: 2;
}
#tela-de-adicionar #form-de-adicionar {
  height: 75%;
  width: 60%;
  background: #C5C5C4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#tela-de-adicionar #form-de-adicionar h1 {
  background-color: #AFAEAE;
  margin: 20px auto;
  text-align: center;
  width: 20vw;
  line-height: 10vh;
  border-radius: 20px;
}
#tela-de-adicionar #form-de-adicionar label {
  padding-left: 10%;
  margin-top: 10px;
  align-self: flex-start;
}
#tela-de-adicionar #form-de-adicionar #nome-da-tarefa,
#tela-de-adicionar #form-de-adicionar #tarefa {
  width: 80%;
  border-radius: 30px;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 0px 15px;
}
#tela-de-adicionar #form-de-adicionar #nome-da-tarefa {
  height: 50px;
  background: #AFAEAE;
}
#tela-de-adicionar #form-de-adicionar #tarefa {
  height: 150px;
  font-size: 1.2rem;
}
#tela-de-adicionar #form-de-adicionar #data {
  height: 5vh;
  width: 25vh;
  background: #AFAEAE;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.2rem;
  align-self: flex-start;
  margin: 5px 0px 0px 10%;
}
#tela-de-adicionar #form-de-adicionar #adicionar-de-adicionar {
  background: #4EBF6B;
  height: 5vh;
  width: 15vw;
  margin: auto;
  border-radius: 30px;
  font-size: 1.2rem;
}
#tela-de-adicionar #form-de-adicionar #adicionar-de-adicionar:hover {
  background: #73cd8a;
}

.botoes {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: auto;
}

#tela-de-editar {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.565);
  z-index: 2;
}
#tela-de-editar #form-de-editar {
  height: 75%;
  width: 60%;
  background: #C5C5C4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#tela-de-editar #form-de-editar .texto-de-editar {
  display: flex;
  font-size: 1.2rem;
  height: 100px;
  align-items: center;
}
#tela-de-editar #form-de-editar label {
  padding-left: 10%;
  margin-top: 10px;
  align-self: flex-start;
}
#tela-de-editar #form-de-editar #nome-da-tarefa-editar,
#tela-de-editar #form-de-editar #tarefa-editar {
  width: 80%;
  border-radius: 30px;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 0px 15px;
}
#tela-de-editar #form-de-editar #nome-da-tarefa-editar {
  height: 50px;
  background: #AFAEAE;
}
#tela-de-editar #form-de-editar #tarefa-editar {
  height: 150px;
  font-size: 1.2rem;
}
#tela-de-editar #form-de-editar #data-editar {
  height: 5vh;
  width: 25vh;
  background: #AFAEAE;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.2rem;
  align-self: flex-start;
  margin: 5px 0px 0px 10%;
}
#tela-de-editar #form-de-editar #cancelar-de-editar,
#tela-de-editar #form-de-editar #salvar-de-editar {
  height: 5vh;
  width: 15vw;
  border-radius: 30px;
  font-size: 1.2rem;
}
#tela-de-editar #form-de-editar #cancelar-de-editar {
  background: #AFAEAE;
}
#tela-de-editar #form-de-editar #cancelar-de-editar:hover {
  background: #bcbbbb;
}
#tela-de-editar #form-de-editar #salvar-de-editar {
  background: #4EBF6B;
}
#tela-de-editar #form-de-editar #salvar-de-editar:hover {
  background: #73cd8a;
}

#tela-de-excluir {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.565);
  z-index: 2;
}
#tela-de-excluir #container-de-excluir {
  width: 30%;
  height: 20%;
  background: #C5C5C4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#tela-de-excluir #container-de-excluir .texto-de-excluir {
  font-size: 1.2rem;
  text-align: center;
}
#tela-de-excluir #container-de-excluir .texto-de-excluir #atividade {
  font-weight: bolder;
}
#tela-de-excluir #container-de-excluir #cancelar-de-excluir,
#tela-de-excluir #container-de-excluir #excluir-de-excluir {
  height: 5vh;
  width: 6vw;
  font-size: 1.2rem;
}
#tela-de-excluir #container-de-excluir #cancelar-de-excluir {
  background: #AFAEAE;
}
#tela-de-excluir #container-de-excluir #cancelar-de-excluir:hover {
  background: #bcbbbb;
}
#tela-de-excluir #container-de-excluir #excluir-de-excluir {
  background: #F26363;
}
#tela-de-excluir #container-de-excluir #excluir-de-excluir:hover {
  background: #f69292;
}

.container-de-dias {
  background: #202148;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.container-de-dias .area-de-dias {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.container-de-dias .area-de-dias .dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E7E7E7;
  text-align: center;
  height: 15vh;
  width: 12vw;
  border-radius: 20px;
  font-size: 1.2rem;
}
.container-de-dias .area-de-dias .dia #hoje {
  background: #AFAEAE;
  line-height: 30px;
  width: 8vw;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 1rem;
}
.container-de-dias #adicionar-de-dias {
  background: #FEDB71;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.container-de-dias #adicionar-de-dias:hover {
  background: #fee8a4;
}

.container-de-tarefas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 85vw;
}
.container-de-tarefas .area-de-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  width: 95%;
  background: #C5C5C4;
  padding: 20px;
}
.container-de-tarefas .area-de-tarefas .titulo-de-tarefas {
  display: flex;
  flex-direction: column;
  background: #AFAEAE;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 20vw;
  border-radius: 20px;
  font-size: 1.5rem;
}
.container-de-tarefas .area-de-tarefas .tarefas {
  height: 60%;
  width: 85%;
}
.container-de-tarefas .area-de-tarefas .tarefas .task {
  background: #AFAEAE;
  position: relative;
  height: 100px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}
.container-de-tarefas .area-de-tarefas .tarefas .task h1 {
  text-align: justify;
  line-height: 80px;
  width: 20%;
  padding-left: 20px;
}
.container-de-tarefas .area-de-tarefas .tarefas .task h1::after {
  content: ":";
}
.container-de-tarefas .area-de-tarefas .tarefas .task p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C5C5C4;
  height: 80px;
  width: 65%;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  overflow-y: auto;
}
.container-de-tarefas .area-de-tarefas .tarefas .task .editor,
.container-de-tarefas .area-de-tarefas .tarefas .task .removedor {
  background-color: transparent;
  height: 50px;
  width: 50px;
  margin: auto;
}
.container-de-tarefas .area-de-tarefas .tarefas .task .editor {
  background-image: url(../img/icons8-lápis-30.png);
  background-size: cover;
  background-position: center;
}
.container-de-tarefas .area-de-tarefas .tarefas .task .removedor {
  background-image: url(../img/icons8-lixo-30.png);
  background-size: cover;
  background-position: center;
}
.container-de-tarefas .area-de-tarefas #adicionar-de-tarefas {
  height: 5vh;
  width: 20vw;
  font-size: 1.2rem;
  background: #FEDB71;
  border-radius: 20px;
  margin-bottom: 80px;
}
.container-de-tarefas .area-de-tarefas #adicionar-de-tarefas:hover {
  background: #fee8a4;
}/*# sourceMappingURL=main.css.map */